@import '../../../styles/variables.scss';
@import '../../../containers/Login/Login.scss';
.wrapper{
    @extend .main;
    @extend .main-body;
.header{
    text-align: center;
    .logo-wrapper{
        margin: 0 auto;
        height:9em;
        .logo{
            color:$blue;
            font-size: 700%;
            font-weight: 400;
            text-align: center;
            -webkit-text-rendering: optimizeLegibility;
            -moz-text-rendering: optimizeLegibility;
            -ms-text-rendering: optimizeLegibility;
            text-rendering: optimizeLegibility;
        }
    }
    .subtitle {
        margin:0.01em 0 1em;
        font-size:1.2em;
        font-weight:400;
        line-height:1;
        }

}
}