@import '../../styles/variables.scss';

.main {
    width: 93.5%;
    margin: 0 auto;
    .hr {
        width: 93.5%;
        margin: 1rem auto;
        border-top: 2px solid $gray-light;
    }
    .header{
        text-align: center;
    }
    .questions-wrapper{
        @extend .main;
        .question-wrapper{
            padding: 1.2rem;
            .options-wrapper{
                margin-top: .6rem;
                padding-left: 2rem;
                span {
                    white-space:normal;
                }
                textarea {
                    width: 90%;
                    height: 8rem;
                }
                .is-required {
                    color:$red;
                }
            }
        }
    }
}