$font-size-base:          20px !default;


$white:                  #fff    !default;
$blue:                   #108EE9 !default; 
$gray:                   #EEEEEE !default;
$gray-light:             #cccccc !default; 
$gray-dark:              #777777 !default;  


$add:                     "\e600" !default;