$font-size-base:          20px !default;

$background-z-index:      -1 !default;

$gray-base:               #000 !default;
$white:                  #fff    !default;
$blue:                   #108EE9 !default; 
$gray:                   #EEEEEE !default;
$gray-light:             #cccccc !default; 
$gray-lighter:            lighten($gray-base, 93.3%) !default; // #eee
$gray-dark:              #777777 !default;  


$add:                     "\e600" !default;