* {
	margin: 0;
	padding: 0;
}
.clearfix:after { 
    content:""; 
    display:block; 
    height:0; 
    clear:both; 
} 
.clearfix {*zoom:1;}/*IE/7/6*/


.textList {
	background-color: #ff0102;
	margin-left:3px;
	margin-top: 3px;
	min-width: 50px;
	float: left;
	color: #fff;
	text-align: center;
}
form div {
    width: 80px;
    height: 30px;
    height: 30px;
    text-align: center;
  

}
.input-error {
	color: 	#dc143c
}
#input-text {
	margin-top: 5px;
	margin-left: 10px;
}
form{
	margin-top: 15px;
}
.input-error{
	margin-top: 20px;

}
