@import "../../styles/mixins/flex-center.scss";
@import "../../styles/mixins/size.scss";
@import "../../styles/variables.scss";

.wrapper {
    @include flex-center;
    margin: 6em auto 4.5em;
    .link {
        color: inherit;
        text-decoration: none;
    }
    .add-btn {
         @include flex-center;
         @include size(9.5em, 2.25em);
         background-color: #286090;
         border-color:#204d74;
         border-radius: .2em;
         box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
         text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
         color: $white;
         cursor:pointer;
        &:hover,
        &:focus {
            color:#000000;
            background-color: #fff;
            border-color: #49a9ee;
            }
     
    }
}