@import '../../styles/variables.scss';
@font-face {
  font-family: 'iconfont';
  src: url('../../styles/iconfont/iconfont.eot');
  src: url('../../styles/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../styles/iconfont/iconfont.woff') format('woff'),
  url('../../styles/iconfont/iconfont.ttf') format('truetype'),
  url('../../styles/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:12px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.table {
  width: 100%;
  text-align: left;
  border:.1rem solid $gray-light;
  thead>tr>th {
    font-size: 14px;
    padding: 1rem;
    line-height: 1.42857143;
    border-bottom: .1rem solid $gray-light;
  }
  .sorter-wrpper{
      margin-left: .4rem;
      display: inline-block;
      width: 1.2rem;
      height: 1.4rem;
      vertical-align: middle;
      text-align: center;
      .desc,.asc {
          line-height: .4rem;
          height: .5rem;
          display: block;
          width: 1.2rem;
          cursor: pointer;
          color: #aaa;
          }
      .asc {
          margin-top: .3rem;
      }
    }
  tbody tr td {
    font-size: 12px;
    padding: .8rem;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: .1rem solid $gray-light;
  }
  tbody {
      .status-closed{
          color: $red;
      }
      .status-released{
          color: #5cb85c;
      }
      span {
          cursor:pointer;
          color: $blue;
      }
      div :nth-child(2) {
          margin-left: .5rem;
          @media screen and (max-width: $small-page-max-width){
              margin-left: 0;
              display: block;
          }
      }
      tr{
          &:hover {
              background-color: $gray-light
          }
      }
  }
}
