@import '../../styles/variables.scss';
.table {
  width: 100%;
  text-align: left;
  border:.1rem solid $gray-light;
  thead>tr>th {
    font-size: 16px;
    padding: 1rem;
    line-height: 1.42857143;
    border-bottom: .1rem solid $gray-light;
  }
  tbody tr td {
    font-size: 14px;
    padding: .8rem;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid $gray-light;
  }
  tbody {
      .status-closed{
          color: $red;
      }
      .status-released{
          color: #5cb85c;
      }
      span {
          cursor:pointer;
          color: $blue;
      }
      div :nth-child(2) {
          margin-left: .5rem;
          @media screen and (max-width: $small-page-max-width){
              margin-left: 0;
              display: block;
          }
      }
      tr{
          &:hover {
              background-color: $gray-light
          }
      }
  }
}
