* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

/*table start*/
table {
  border: .1rem solid #cbcbcb;
  border-collapse: collapse;
}

th {
  background: #e0e0e0;
  color: #000;
  text-align: left;
}
td {
  color: #777;
}
th,td {
  padding: 1rem 2.5rem;
  border-left: .1rem solid #cbcbcb;
  position: relative
}
th span {
  content: '';
  border: .6rem solid transparent;
  position: absolute;
  right: .8rem;
  cursor: pointer;
}

.asc {
  border-top: .6rem solid #aaa;
  top: 2rem;
}
.desc {
  border-bottom: .6rem solid #aaa;
  bottom: 2rem;
}

tbody tr:nth-child(2n) {
  background: #eee; 
}



/*table end*/