@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_r5u29ls31bgldi.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_r5u29ls31bgldi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_r5u29ls31bgldi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_r5u29ls31bgldi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_r5u29ls31bgldi.svg#iconfont') format('svg');
}
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*table-header  start*/
.header {
  background: #555;
  color: #fff;
  position: relative;
  border: 1px solid #555;
  width: 130px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.sorter {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  height: 14px;
  vertical-align: middle;
  text-align: center;
}

.caret {
  line-height: 4px;
  height: 5px;
  display: block;
  width: 12px;
  cursor: pointer;
}

/*table-header  end*/

/*table-body  end*/
.td {
  width: 130px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}