.calendar {
    .date-picked {
        text-align: center;
    	line-height: 50px;
    	cursor: pointer;
    	height: 50px;
	    color: #FFF;
        margin: 0;
    }
    .main {
        transition: height 0.6s;
        overflow: hidden;
        height: 0;// 一开始设置高度为0 点击后展开
    }
}