@import '../../styles/variables.scss';

// .header-wrapper {
//     overflow:hidden;  
//     text-align:left;  
//     padding:0;
//     .header {
// -webkit-appearance:none;  
//     background:none;  
//     width:99%;  
//     border:0;  
//     font-size:14px;  
//     vertical-align:middle;  
//     border:solid 1px #ccc;  
//     margin:0;  
//     padding:5px 0  

//     }
// }
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 93.5%;
    background-color: $gray-lighter;
    border:none;
    text-align: center;
    color: #000000;
    font-size: 150%;
    margin: 0 auto;
    &:hover{
        background-color: $white;
    }
    &:focus {
        outline:none;
    }

}

.main{
    .hr {
        width: 93.5%;
        border-top: 2px solid $gray-light;
        margin: 1rem auto;
    }
    .bkcolor{
         background-color: $gray-lighter;
    }
    .question-wrapper{
        width: 93.5%;
        margin: 0 auto;
        padding: 1.6rem;
        .question-title-wrapper{
            margin-top: 1rem;
            font-size: 120%;
            span {
                
            }
            input {
                margin-left:1rem;
                background-color: $gray-lighter;
                outline: 0;
                border: none;
                line-height: 2rem;
                &:focus{
                    width: 30%;
                    background-color: $white;
                }
            }
        }

    }
}

