@import '../../styles/variables.scss';

// .header-wrapper {
//     overflow:hidden;  
//     text-align:left;  
//     padding:0;
//     .header {
// -webkit-appearance:none;  
//     background:none;  
//     width:99%;  
//     border:0;  
//     font-size:14px;  
//     vertical-align:middle;  
//     border:solid 1px #ccc;  
//     margin:0;  
//     padding:5px 0  

//     }
// }
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 93.5%;
    background-color: $gray-lighter;
    border:none;
    text-align: center;
    color: #000000;
    font-size: 150%;
    margin: 0 auto;
    &:hover{
        background-color: $white;
    }
    &:focus {
        outline:none;
    }

}

.main{
    .hr {
        width: 93.5%;
        border-top: 2px solid $gray-light;
        margin: 1rem auto;
    }
    .radio-checkbox-wrapper{
        margin: 0 auto;
        width: 93.5%;
        padding:1.645rem;
    }
}

