@import '../../styles/variables.scss';
@import "../../styles/mixins/iconfont.scss";

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 93.5%;
    background-color: $gray-lighter;
    border:none;
    text-align: center;
    color: #000000;
    font-size: 150%;
    margin: 0 auto;
    &:hover{
        background-color: $white;
    }
    &:focus {
        outline:none;
    }

}

.main{
    .hr {
        width: 93.5%;
        border-top: 2px solid $gray-light;
        margin: 1rem auto;
    }
    .bkcolor{
         background-color: $gray-lighter;
    }
    .question-wrapper{
        width: 93.5%;
        margin: 0 auto;
        padding: 1.2rem;
        input{
            background-color: $gray-lighter;
            outline: 0;
            border: none;
            display: inline-block;
            &:focus{
                background-color: $white;
            }
        }
        // &:hover {
        //     background-color: $gray-light;
        //     input{
        //         background-color: $gray-light;
        //     }
        //     .operation-wraper {
        //         visibility: visible;
        //     }
        //     .remove-option-btn {
        //         display: inline;
        //         color: $gray-dark;
        //         }
        //     .add-option-btn{
        //         border: .2rem dashed $gray;
        //         border-radius: 2px;
        //         cursor: pointer;
        //         &::before {
        //             visibility: visible;
        //         }
        //     }
        // }
        .question-title-wrapper{
            margin-top: 1rem;
            font-size: 120%;
            input {
                margin-left:1rem;
                line-height: 2rem;
                @media screen and (max-width: $small-page-max-width){
                    margin-left:.5rem;
                    }
                &:focus{
                    width: 30%;    
                }
            }
        }
        .options-wrapper {
            margin-top: .6rem;
            padding-left: 1.5rem;
            input{
                line-height: 1.8rem;
                font-size: 110%;
                &:focus {
                    width:20%;
                }
            }
            .radio-option-icon::before {
                @include iconfont($radio-option, .8em, 1em);
            }
             .checkbox-option-icon::before {
                @include iconfont($checkbox-option, .8em, 1em);
            }
            .remove-option-btn {
                display: none;
                &::before {
                    @include iconfont($remove, .8em, 0, 1em);
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .add-option-btn {
            height: 2.5rem;
            margin: .5rem auto;
            text-align: center;
            &::before {
                @include iconfont($add, .8em);
                visibility: hidden;
            }
        }
        .text {
            height: 8rem;
            width: 100%;
        }
        .required,
        .not-required {
            &:hover {
                cursor: pointer;
            }
        }
        .required {
            &::before {
                @include iconfont($checkbox-option, .8em, 1em);
            }
        }
        .not-required {
            &::before {
               @include iconfont($checkbox, .8em, 1em);
            }
        }

        .operation-wraper {
            visibility: hidden;
            width: 100%;
            text-align: right;
            .operation {
                display: inline-block;
                margin-left: .8rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        input{
            &:focus{
                background-color: $white;
                }
        }
        &:hover {
            background-color: $gray-light;
            input{
                background-color: $gray-light;
            }
            .operation-wraper {
                visibility: visible;
            }
            .remove-option-btn {
                display: inline;
                color: $gray-dark;
                }
            .add-option-btn{
                border: .2rem dashed $gray;
                border-radius: 2px;
                cursor: pointer;
                &::before {
                    visibility: visible;
                }
            }
        }
    }
}

