@import '../../styles/variables.scss';
.wrapper {
    width: 75%;
    margin: 4.2em auto 3em;
    padding: 1em 0 2.5em;
    border-radius: .2em;
    //box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    font-size: $font-size-base;
    background: $gray;
    @media screen and (max-width: 480px) {
        padding: .5em 0 2em;
    }
}