@import '../../styles/variables.scss';
.main {
    width: 93.5%;
    margin: 0 auto;
    .hr {
        width: 93.5%;
        margin: 1rem auto;
        border-top: 2px solid $gray-light;
    }
    .header{
        text-align: center;
    }
    .questions-wrapper{
        @extend .main;
        .question-wrapper{
            padding: 1.2rem;
            .question-title{
                .title-wrapper{
                    display: flex;
                    justify-content:space-around;
                    h2{
                    font-size: 18px;
                    }
                }
                h3{
                        text-align: center;
                }
            }
        }
    }
}