@import "../../styles/variables.scss";
@import "../../styles/mixins/size.scss";
@import "../../styles/mixins/flex-center.scss";
@import "../../styles/mixins/iconfont.scss";
.line {
    width: 93.5%;
    border-top: 2px solid $gray-light;
    margin: 0 auto;
}
.edit-questionnaire-title {
    @include flex-center;
    @include size(90%, 3em);
    margin: 0 auto 1em;
    font-weight: 700;
    font-size: 100%;
    color: $gray-dark;
    &:hover {
        // background: $pink linear-gradient(rgba(255, 255, 255, .2), transparent);
    }
}

.question-wrap {
    width: 90%;
    margin: 1.875em auto;
    font-size: 80%;
}

.add-question {
    width: 90%;
    margin: 1.5em auto;
    .add-question-btn {
        @include flex-center;
        height: 5em;
        // border: 1px solid $gray-light;
        font-size: 80%;
        color: $gray-dark;
        background: #dddddd;
        cursor: pointer;
        &::before {
            @include iconfont($add, 1.25em, 1em);
        }
    }

}

.footer {
    margin-top: 2em;
    font-size: 80%;
    text-align: center;
    // color: $white;
     .date-wrap {
        position: relative;
        display: inline-block;
        margin-right: 50%;
        line-height: 1.5;
    }
}

